In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import LabelEncoder, StandardScaler
import numpy as np
from sklearn. ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import GridSearchCV

In [46]:
df = pd.read_csv("C:/Users/mpilw/Downloads/archive2/Churn Modeling.csv")
df = pd.read_csv("C:/Users/mpilw/Downloads/archive Aggregate data/AggregatedData.csv")

In [47]:
df.info()
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11589 entries, 0 to 11588
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ATM Name                      11589 non-null  object
 1   Transaction Date              11589 non-null  object
 2   No Of Withdrawals             11589 non-null  int64
 3   No Of XYZ Card Withdrawals    11589 non-null  int64
 4   No Of Other Card Withdrawals  11589 non-null  int64
 5   Total amount Withdrawn        11589 non-null  int64
 6   Amount withdrawn XYZ Card     11589 non-null  int64
 7   Amount withdrawn Other Card   11589 non-null  int64
 8   Weekday                       11589 non-null  object
 9   Festival Religion             11589 non-null  object
 10  Working Day                   11589 non-null  object
 11  Holiday Sequence              11589 non-null  object
dtypes: int64(6), object(6)
memory usage: 1.1+ MB
             ATM Name Transaction Date  No Of Withdrawals  \
0      Big Street ATM         1/1/2011                 50
1      Mount Road ATM         1/1/2011                253
2         Airport ATM         1/1/2011                 98
3        KK Nagar ATM         1/1/2011                265
4  Christ College ATM         1/1/2011                 74

   No Of XYZ Card Withdrawals  No Of Other Card Withdrawals  \
0                          20                            30
1                          67                           186
2                          56                            42
3                         159                           106
4                          25                            49

   Total amount Withdrawn  Amount withdrawn XYZ Card  \
0                  123800                      41700
1                  767900                     270900
2                  503400                     347700
3                  945300                     532600
4                  287700                     148200

   Amount withdrawn Other Card   Weekday Festival Religion Working Day  \
0                        82100  Saturday                 H           H
1                       497000  Saturday                 C           H
2                       155700  Saturday                 C           H
3                       412700  Saturday                 C           H
4                       139500  Saturday                 C           H

  Holiday Sequence
0              WHH
1              WHH
2              WHH
3              WHH
4              WHH

In [48]:
data.fillna(method = 'ffill', inplace = True)
le = labelEncoder()
data['Gender_encoded'] = le.fit_transform (data['Gender'])

C:\Users\mpilw\AppData\Local\Temp\ipykernel_18580\721483225.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method = 'ffill', inplace = True)

NameError: name 'labelEncoder' is not defined

In [49]:
data.drops(columns= ['Gender'], inplace =True)

AttributeError: 'DataFrame' object has no attribute 'drops'

In [44]:
missing_values = df.isnull().sum()
print("Missing values in esch column:")
print(missing_values)

Missing values in esch column:
RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [32]:
data['withdrawal_ratio'] = data['total_withdrawn'] / (data['total_contributions'] + 1)
data['employment_length'] = (pd.to_datetime(data['current_date']) - pd.to_datetime(data['employment_start'])).dt.days / 365
data['log_salary'] = np.log(data['salary'] + 1)

NameError: name 'data' is not defined

In [33]:
X = data.drop(columns=['withdraw_funds', 'employment_start', 'current_date'])
y = data['withdraw_funds']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
y_pred = model.predict(X_test_scaled)

NameError: name 'data' is not defined

In [34]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

NameError: name 'X_train' is not defined

In [35]:
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

NameError: name 'X_train_scaled' is not defined

In [36]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

NameError: name 'y_test' is not defined

In [37]:
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Confusion Matrix:

NameError: name 'y_test' is not defined

Churn Modelling dataset can relate to Two Ports by helping the organization analyze and predict employee turnover. Since Two Portys is involved in creating analytical challenges it can utilize cgurn modellling to study employee reytention patterns amd reasons for leaving. For instance chiun models can identift factors contributing to employee churn such as job satisfaction work life balance or management practise and hrlp management take proactive measures

by analyzing historical data on employee who have left Two Ports couls develop predictive models to forecast future chutn, optimize resource for allocation for retention strategies and enhance employee satisfaction. This approach can be used in challenges that focus on employee management offering insigths or impporoving organizational practise

the AggregatedData dataset contains employee-level data like financial indicators, historical withdrrawals patterns, and feedback. It is hihly relevant to the analytical challenges at Two-Ports Systems. These data points could be used to predict employee behavoiur , forecast financial outcomes and assess employee sentiment regarding retirement plans. By intergrating features such as age, tenure,account balance and historical withdrawals data, predictive models can be built to identify employees at risk of withdrawing prematurely. Matchine Learning algirithms coulb be employed to predict these behavoiurs.